$arial: Arial, Verdana, sans-serif;
$georgia: Georgia, serif;
$color_light: #FAFAFA;
$color_dark: #CDCDCD;
$color_primary: #F1CDB3;
$color_primary_light:#FDDCC4;
$color_brown: #292929;
$color_54: #545454;
$color_grey_bac: #F6F6F6;

$laptop_width: 1279px;
$tablet_width: 767px;
$mobile_width: 320px;